@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$white: #fff;
$secondary: #2b3035;
$font-family-base: "PC", 'Roboto', sans-serif;

$modal-backdrop-opacity: 0.7;
$navbar-padding-y: 0;
$navbar-padding-x: 1rem;
$navbar-dark-color: #fff;
$navbar-brand-font-size: 1rem;
$navbar-dark-hover-color: #fff;
$navbar-dark-brand-color: white;

@import '~bootstrap/scss/bootstrap';

.navbar {
  background-image: linear-gradient(230deg, #8b1f6e 0%, #c00e4e 100%);

  .container {
    height: 50px;
  }
}

.App > .container {
  display: flex;
  height: 100%;
  min-height: calc(100vh - 90px);
  width: 100%;
}

body {
  background-color: #f7f3f7;
}

.card_pos {
  height: 100%;
}

.buttons {
  margin-top: 35px;
}

.space > div {
  flex: 1;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f7eef7;
  color: #b13d7c;
}

.teamType {
  border: #c00e4e;
}

.footer {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #e9e3e9;
}

.btn-1 {
  color: #fff;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #A8397D 0%, #822F7F 100%);
  box-shadow: 0 2px 7px #A8397D;
  border: 0;
}

.btn-1:hover {
  color: #fff;
  box-shadow: 0 0 15px #A8397D;
}

.avatar {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: #f3f5f7;
  border-radius: 50%;
  text-align: center;
}

.title {
  color: #552c8a;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-style {
  border: 0;

}

.hr-1 {
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 25px;
}

.center {
  text-align: center;
}

.card-form {
  height: 90%;
  margin: 30px 30px 30px;
  padding: 10px;
  border-radius: 5px;
}

.team-info {
  margin: 25px;
  gap: 10%;
}

.select-form {
  max-width: 30%;
  margin-left: 30px;
}

.team-formation {
  background-image: linear-gradient(180deg, #A8397D 0%, #822F7F 100%);
  display: flex;
  flex-direction: column;

  min-height: 300px;
  width: 350px;
  overflow: hidden;
  border-radius: 0.25rem;
  padding: 0 15px 0;
  position: relative;
}

.line {
  border: 1px solid rgba(255,255,255,.25);
  width: 350px;
  position: absolute;
  margin-left: -15px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.circle {
  top: 50%;
  width: 90px;
  height: 90px;
  left: calc(50% - 45px);
  border-radius: 90px;
  border: 1px solid rgba(255,255,255,.25);

  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.save-button {
  background-image: linear-gradient(180deg, #A8397D 0%, #822F7F 100%);
  width: 350px;
  border: 0;
  margin-top: 15px;
}

.team-formation-row {
  flex: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}

.flexbox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 768px;
  height: 100vh;

  overflow: hidden;

  margin: 0 auto;
  padding: 15px;
}

.icon-color {
  color: #f3f3f3;
}

.position {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(191, 149, 188, 0.8);
  background-image: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.position::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  border: 1px dashed #BF95BC;
  position: absolute;
  border-radius: 50%;
}

.player-filter {
  padding: 10px 10px;
  background-image: linear-gradient(190deg, white 0%, #e7e7e7 100%);
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px dashed #e6e6e6;
  align-items: center;
}

p {
  padding: 0;
  margin: 0
}

p span{
  color: #d11a54f6;
}

.toast-container {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 99999;
}

.toast {
  font-size: 1rem;
  min-width: 150px;
}

@mixin define-toast-color($name, $color, $bodyLighten, $headerDarken) {
  .toast-#{ $name } {
    background-color: lighten($color, $bodyLighten);
    color: darken($color, 20%);

    .toast-header {
      background-color: lighten($color, $headerDarken);
      color: darken($color, 20%);
    }
  }
}

@include define-toast-color('success', $success, 52%, 47%);
@include define-toast-color('danger', $danger, 38%, 32%);
@include define-toast-color('warning', $warning, 38%, 32%);

.tags-input {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 48px;
	width: 480px;
	padding: 0 8px;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;

	input {
		flex: 1;
		border: none;
		height: 46px;
		padding: 4px 0 0 0;
		&:focus {
			outline: transparent;
      box-shadow: none;
		}
	}
}

#tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 8px 0 0 0;
}

.tag {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 8px;
	list-style: none;
	border-radius: 2rem;
	margin: 0 8px 8px 0;
	background: #c50341;
	.tag-close-icon {
		display: block;
		width: 16px;
		height: 16px;
		line-height: 16px;
		text-align: center;
		margin-left: 8px;
		color: #fff;
		cursor: pointer;
	}
}

@media screen and (max-width: 567px) {
	.tags-input {
    width: calc(100vw - 32px);
	}
}

.container-item {
  margin-top: 10px;
  background-color: rgba(233,227,232);
  border-radius: 8px;
  padding: 4px;
}

.container-item .item {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  padding: 8px 14px;
}

.container-item .item:not(:first-child) {
  margin-top: 4px;
}

.container-item .item .team-name {
  flex: 90%;
}

.container-item .item .avg {
  flex: 90%;
  text-align: right;
  font-weight: bold;
}

.top-five-container {
  flex: 50%;
}

.most-picked-field {
  background-image: linear-gradient(180deg, #A8397D 0%, #822F7F 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 16px 16px;
  position: relative;
}

.most-picked-field::after {
  content: "";
  top: 0;
  border: 1px solid rgba(255,255,255,.25);
  height: 100%;
  position: absolute;
  left: 50%;
}

.circle-picked {
  top: 50%;
  height: 60px;
  width: 60px;
  left: calc(50% - 30px);
  border-radius: 30px;
  border: 1px solid rgba(255,255,255,.25);

  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.picked-player {
  width: 90px;
  height: 90px;
  border-radius: 60px;
  background-color: rgba(191, 149, 188, 0.8);
  background-image: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.picked-player::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border: 1px dashed #fff;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 7px #552c8a;
}
